        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    	<script src="/app/angularFunctionality.js"></script>
    </header>
  <body ng-app="mainModule" ng-controller="SearchController as searchCtrl" ng-init="searchCtrl.init('<%=JSON.stringify(registeredSearches)%>')">
    <div ng-repeat="search in searchCtrl.savedSearches">
        { term: {{search.term}} , when: {{search.when}} }
        
    </div>

  </body>
</html>